dateparser==1.1.1
fastapi==0.78.0
numpy==1.22.2
opencv_python==4.5.5.62
pdf2image==1.16.0
Pillow==9.1.1
python-dotenv==0.20.0
python_dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
uvicorn==0.17.6
zxing==0.14
python-multipart==0.0.5
azure-core==1.24.1
azure-identity==1.10.0
azure-keyvault-secrets==4.4.0
pytest==7.1.2
pytest-asyncio==0.20.1
pytest-cov==3.0.0
pytest-mock==3.7.0
coverage==6.4.1
opencensus==0.9.0
requests==2.27.1
tzlocal==2.1
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
asyncio==3.4.3
multidict==6.0.2
nest-asyncio==1.5.5
setuptools==65.1.1
PyMuPDF==1.20.2